<% provide(:title, 'All admin_users') %>
<h1>All Admin_users</h1>

<%= will_paginate renderer: BootstrapPagination::Rails %>

<ul class="users">
  <% @admin_users.each do |admin_user| %>
    <li>
      <%= gravatar_for admin_user, size: 52 %>
      <%= link_to admin_user.name, admin_user %>
       <% if current_admin_user.owner? && !(current_admin_user == admin_user) %>
    |  <%= link_to "delete", admin_user, method: :delete,
                                  data: { confirm: "You sure?" } %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= will_paginate renderer: BootstrapPagination::Rails %>